/* basic style */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%;
  display: block;
}

body {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  font-family: "Lucida Grande", Consolas, monaco, monospace,"Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", sans-serif;
  margin: 0;
  
}

details, summary, main{
  display: block;
}

audio,canvas,progress,video {
  vertical-align: baseline;
}


a:active,a:hover {
  outline: 0;
}

b,strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;  
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,kbd,pre,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,select {
  text-transform: none;
}

button, html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,th {
  padding: 0;
}

/******************************/



/*  index page style */

header.index {
  position: fixed;
  z-index: 30;
  top: 0;
  width: 100%;
  background-color: wheat;
}

nav.global_nav {
  margin: 13px 150px;
}

nav.global_nav div.site_title {
  float: left;
}

nav.global_nav h1 {
  margin: 0;
  font-size: 1.8em;
  font-weight: 500;
}

nav.global_nav ul {
  list-style: none;
  float: left;
  margin: 0 60px;
  padding: 0;
 
}

nav.global_nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav.global_nav ul li:first-child {
  margin-left: 0px;
}

nav.global_nav ul a {
  text-decoration: none;
  color: red;
  font-size: 1em;
  letter-spacing: 1px;
  vertical-align: middle;
}

nav.global_nav div.empty {
  clear: both;
}

section.index {
  min-height: 1000px;
}

footer.index {
  text-align: center;
  border-top: 1px solid black;
}

footer.index p {
  margin: 10px 0;
}
