<form action="/users" method="post">
  <input type="hidden" name="_method" value="patch" />

  <label for="user_name">Name:</label><br/> 
  <input id="user_name" name="user[name]" type="text" value="<%= @user.name %>" />
  <br/>

  <label for="user_email">Email:</label><br/>
  <input id="user_email" name="user[email]" type="text" value="<%=@user.email%>"/>
  <br/>

  <input type="submit" value="Edit Post" />

</form>

<form action="http://upload.qiniu.com/" enctype="multipart/form-data" method="post">
  <input type="hidden" name="key"  value="avatar.<%= @user.id %>" />
  <input type="hidden" name="token" value="<%= @uptoken %>" />
  <input type="file" name="file" />
  <input type="submit"  value="upload" />

</form>
