<form action="/users" method="post">
  <label for="user_name">Name:</label><br/> 
  <input id="user_name" name="user[name]" type="text" />
  <br/>

  <label for="user_email">Email:</label><br/>
  <input id="user_email" name="user[email]" type="text" />
  <br />

  <label for="user_password">Password:</label><br/>
  <input id="user_password" name="user[password]" type="password" />
  <br/>

  <label for="user_password_confirmation">Confirmation:</label><br/>
  <input id="user_password_confirmation" name="user[password_confirmation]" type="password" />
  <br/>

  <label  for="user_admin">Admin:</label><br/>
  <input id="user_admin" name="user[admin]" type="text">
  <br />

  <input type="submit" value="Create User" />
</form>
