<div class="about_page">
  <div class="content">
  <hr>
  <h1>About me</h1>
    <blockquote>
      <p> “Nobody dies a virgin… Life fucks us all.” ― Kurt Cobain</p>
    </blockquote>
    <hr>
    <p>我很懒，所以没什么想说的，此处就省略了吧。。。</p>
    <p><b>对于本博客中的文章，如没有特殊声明，皆为原创，所以喜欢想要转载
  的话，请声明出处，吾将万分感谢。</b> </p>
    <hr>
    <h2> Contact </h2>
    <p>
      <em>Email:</em>
      <a href="mailto:aidewoode@gmail.com">aidewoode@gmail.com</a>
    </p>
    <p>
      <em>Github:</em>
      <a href="http://github.com/aidewoode">http://github.com/aidewoode</a>
    </p>
    <hr>
  </div>
</div>

