<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Aide's Blog</title>
    <meta name="description" content="Aide 的个人博客">
    <link rel="stylesheet" href="/css/style.css">
  </head>  
  <body class="login">
    <div class="login_page">
      <div class="header">
        <h1>Hello, Aide</h1>
      </div>
      <div class="login_form">
        <div class="avatar">
          <img src="/picture/avatar.png" alt="avatar">
        </div>
        <form action="/sessions" method="post">
	  <input id="session_email" name="session[email]" type="text" placeholder=" Email"/> 
          <input id="session_password" name="session[password]" type="password" placeholder=" Password"/>
          <input type="submit" value="Sign in"/>
        </form> 
      </div>
    </div>
  </body>
</html>
