<form action="/sessions" method="post">
  <label for="session_email">Email</label></br>
  <input id="session_email" name="session[email]" type="text"/>
  </br>
  <label for="session_password">Password</label></br>
  <input id="session_password" name="session[password]" type="password"/>
  </br>
  <input type="submit" value="Sign in"/>
	
</form>
