<div class="new_edit_post">
  <h1>New Post</h1>
  <form action="/posts" method="post">
    <%= new_edit_form(@post) %>
    <input type="submit" value="Create Post" />

  </form>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/module.js"></script>
<script type="text/javascript" src="/js/simditor.js"></script>
<script type="text/javascript" src="/js/simditor-markdown.js"></script>

<script>
var editor = new Simditor({
      textarea: $('#post_body'),
      markdown: true
    }
    );
</script>
